footer{
    @apply w-full bg-white shadow-inner fixed left-0 bottom-0
}
.navbar{
    @apply  px-4 py-1 flex justify-between items-center max-w-[700px] mx-auto;
}
.navbar .nav-item{
    @apply hover:bg-slate-200 transition-all rounded text-gray-500
}
.navbar .nav-item.active{
    @apply text-black
}
.navbar .nav-item .nav-link{
    @apply flex flex-col justify-center items-center gap-2 p-2
}