@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family:sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
    background-color: rgba(0,0,0,0.05);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.link{
 @apply text-green-600 font-bold hover:text-green-700
}
.btn{
  @apply bg-green-500 border-2 border-transparent outline-green-500 py-2 px-4 text-sm text-white rounded-sm hover:bg-white hover:border-green-500 hover:border-2 hover:text-black transition-all
}
img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}